<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BeaconScanner" >

    <application
        android:name="com.example.BeaconScanner.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lab 4 - Beacon Scanner"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.BeaconScanner.MainActivity"
            android:label="Lab 4 - Beacon Scanner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
